<button class="back" (click)="backHome()">Back home</button>
@if(city && weather){
    <div class="card_container {{backgroundColor}} {{textColor}}">
        <p class="detail_title">{{city.name}}</p>
        <p class="detail_subtitle">{{city.admin2}}</p>
        <p class="detail_subtitle">{{city.country}}</p>
        <hr class="line {{hrColor}}">
        <p>Update : {{weather.current.time}}</p>
        <p>Time zone : {{weather.timezone}}</p>
    </div>
    <div class="card_container smallWithTwoCol {{backgroundColor}} {{textColor}}">
        <div class="card_img">
            <img [src]="weather | weatherToImage" alt="" srcset="">
        </div>
        <div class="card_content">
            <p class="card_temperature">{{weather.current.temperature_2m}} {{weather.current_units.temperature_2m}}</p>
            <p class="sub_temperature">(Felt : {{weather.current.apparent_temperature}} {{weather.current_units.apparent_temperature}})</p>
            <p class="sub_temperature">Humidity : {{weather.current.relativehumidity_2m}} %</p>
            <p class="sub_temperature">{{weather | weatherToText}}</p>
        </div>
    </div>
    <div class="card_container mediumWithTwoCol {{backgroundColor}} {{textColor}}">
        <div class="wind_direction">
            <div class="arrow_container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" [attr.transform]="weather.current.winddirection_10m | compass" fill="currentcolor"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z" /></svg>
            </div>
            <p class="sub_temperature">{{weather.current.winddirection_10m | compassToDirection}} ({{weather.current.winddirection_10m}}{{weather.current_units.winddirection_10m}})</p>
        </div>
        <div>
            <p>Average speed : {{weather.current.windspeed_10m}} {{weather.current_units.windgusts_10m}}</p>
            <p>Gust : {{weather.current.windgusts_10m}} {{weather.current_units.windgusts_10m}}</p>
        </div>
    </div>
    <app-carousel
    [weather]="weather"
    [carouselType]="carouselType[1]"
    [carouselData]="weather.hourly"
    [carouselDataUnit]="weather.hourly_units"
    [background]="backgroundColor"
    [text]="textColor"
    ></app-carousel>
    <app-carousel
    [weather]="weather"
    [carouselType]="carouselType[0]"
    [carouselData]="weather.daily"
    [carouselDataUnit]="weather.daily_units"
    [background]="backgroundColor"
    [text]="textColor"
    ></app-carousel>
    
}

