<section>
    <form>
        <input type="text" id="search" name="search" autocomplete="off" placeholder="Search a city"
        #searchBox (input)="handleChange(searchBox.value)" list="listOfResult"/>
        <datalist id="listOfResult" >
            <option *ngFor="let city of cities" [value]="city | cityObjectToString">
            <!--<option *ngFor="let city of cities" [value]="city.name">-->
        </datalist>
        <input type="button" value="Click" (click)="getWeather()"/>
    </form>
    <h3>Valeur de l'input : </h3>
    <h3>{{searchTerm}}</h3>
</section>
