<section>
        <input type="text" id="search" name="search" autocomplete="off" placeholder="New York, London, Paris, etc."
        #searchBox (input)="handleChange(searchBox.value)" list="datalist"/>
        <input type="button" value="Search a city" (click)="getWeather()"/>
        <datalist id="datalist" role="listbox" #datalist >
            @for (city of cities; track city.id) {
                <option [value]="city | cityObjectToString"></option>
            }
        </datalist>
</section>
