@if (weather !== null) {
    <!--
    <section class="card_container" isDayOrNight [weather]="weather">-->
        <!-- -->
    <section class="card_container {{backgroundColor}} {{textColor}}">
        <div class="card_content">
            <div>
                <h2 class="card_title">{{city?.name}}</h2>
                <h3 class="card_subtitle">{{city?.admin2}}</h3>
                <h4 class="card_subtitle">{{city?.country}}</h4>
            </div>
            
            <div class="temperature">{{weather.current.temperature_2m}} {{weather.current_units.temperature_2m}}</div>
        </div>
        <div class="card_img">
            <img [src]="weather | weatherToImage" alt="" srcset="">
            <!--
            <div class="card_temperature">{{weather.current.temperature_2m}} {{weather.current_units.temperature_2m}}</div>
            -->
        </div>
    </section>
}

